.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.cardItem:hover,
.cardItem:focus,
.cardItem:active {
  color: #0070f3;
  border-color: #0070f3;
}

.cardItem h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.cardItem p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.tags {
  border-radius: 4px;
  padding: calc(4.9px + (1.4 * ((100vw - 320px) / 1280)))
    calc(7px + (2 * ((100vw - 320px) / 1280)));
  font-size: calc(9.8px + (2.8 * ((100vw - 320px) / 1280)));
  margin: calc(1.75px + (0.5 * ((100vw - 320px) / 1280)));
  flex-shrink: 0;
}

.employeeCard {
	display: flex;
	/* border: solid #32a1ce; */
	margin-top: 0.5em;
	box-shadow: 0 1px 3px 0 white,0 1px 2px 0 whitesmoke;
}

.employeeItems {
	flex: auto;
	/* border: dashed black; */
}

/* Flexbox stuff */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cardItem {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem .25em;
  box-shadow: 0 1px 3px 0 black,0 1px 2px 0 blue;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
